  <footer class="main-footer mt-5 pt-4 text-light">
      <div class="container">
          <div class="row">
              <div class="col">
                <h3>Entre em Contato</h3>
                  <address>
                      <a href="tel:5511981150868" class="text-light">+55 11 98115-0868</a>
                      <br/>
                      <a href="mailto:{{contato_email}}" class="text-light">{{contato_email}}</a>
                  </address>
              </div>
          </div>
      </div>
      <div class="rights pb-4">
         <div class="container">
              <div class="row">
                  <div class="col">
                    {% now 'Y' %} - Python Pro. Todos os direitos estao reservados.
                  </div>

              </div>
          </div>
      </div>
  </footer>