{%  extends 'base/base.html' %}
{% load static %}

{% block title %}Python Pro - Home{% endblock title %}
{% block description %}Página do Curso Python Pro - Descrição de Curso Gratuito{% endblock description%}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h2>
                        Curso de Python com Luciano Ramalho
                    </h2>

                    <h4 class="mt-4">Chegou a hora de Emagrecer facilmente! Custo R$ 15,00</h4>
                    <!-- INICIO DO BOTAO PAGSEGURO -->
                    <a href="https://pag.ae/7WUybJdNL/button" target="_blank" title="Pagar com PagSeguro">
                        <img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
                             alt="Pague com PagSeguro - é rápido, grátis e seguro!"/></a>
                    <!-- FIM DO BOTAO PAGSEGURO -->


                    <!--                <h4 class="mt-4">Entre na fila de espera</h4>

                                     <form action="https://mobiledevbr.us1.list-manage.com/subscribe/post?u=f420d8fc5236fcd4b6c862138&amp;id=6987671f68"
                                           method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-row align-items-center" target="_blank" novalidate>
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <label class="sr-only" for="mce-EMAIL">Email</label>
                                                <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
                                            </div>

                                            <div class="col-auto">
                                                <label class="sr-only" for="mce-FNAME">Nome</label>
                                                <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Informe seu nome">
                                            </div>

                                            &lt;!&ndash; real people should not fill this in and expect good things - do not remove this or risk form bot signups&ndash;&gt;
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_f420d8fc5236fcd4b6c862138_6987671f68" tabindex="-1" value="">
                                            </div>

                                            <div class="col-auto">
                                                <input type="submit" value="Salvar" name="subscribe"
                                                       id="mc-embedded-subscribe" class="btn btn-primary">
                                            </div>
                                        </div>
                                    </form> -->
                    <!---------------------------------------------------------------------------->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header">
                        Mais detalhes sobre o instrutor
                    </h5>
                    <div class="card-body">
                        <p class="card-text">
                            <img src="{% static 'img/luciano-ramalho.jpg' %}" alt="Foto Luciano Ramalho"
                                 class="img-thumbnail float-left mr-3"/>
                            Ramalho é sócio e professor na <a href="http://django.mobiledevbr.com">Python Pro</a> e autor do
                            Livro
                            <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank">Python Fluente</a>.
                            Foi diretor técnico do Brasil Online, primeiro portal da Abril S/A na Web.
                            liderou times para os portais IDG Now, BOL, UOL, AOL Brasil e outros,usando Python desde 1998.
                            Como instrutor, atendeu clientes como Citibank, CPqD, Serpro, Presidência da República,
                            Globo.com e itaú. Palestrante em eventos internacionais como FISL, PyCon US e OSCON. Ajudou a
                            criar a Associação Python Brasil e foi seu presidente.É membro da Python Software Foundation e
                            fundador do Garoa Hacker Clube, o primeiro HackerSpace do Brasil.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}